.header {
  background-color: #252525;
  color: white;
  padding: 15px 20px;
  text-align: center;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.header-title {
  margin: 0;
  font-size: 2em;
  font-family: "Arial, sans-serif";
}

.navbar {
  margin-top: 0px;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Arial, sans-serif";
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Mobile Menu */
.mobile-menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  /* position: absolute; */
  top: 17px;
  right: 20px;
}

.bar {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    display: none;
  }

  .nav-links.mobile-menu-open {
    display: flex;
  }

  .mobile-menu-icon {
    display: flex;
  }
  .menu-categories li{
    text-align: left;
  }
  .sidebar h2 {
    text-align: left;
}
.sidebar {
  width: calc(100% - 40px);
}
.menu-page{
  display: block;
}
}
