.menu-items {
background: #241709bf;
  /* margin: 20px 0; */
  padding: 20px;
  border-radius: 8px;
}
.item-price-gap{
  gap: 2em;
  display: flex;
}

.menu-items h3 {
  margin-top: 0;
  font-size: 2em;
  background-color:#3c2e2169;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
}

.menu-items ul {
  list-style: none;
  padding: 0;
}

.menu-items li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: white;
}

.item-name {
  font-size: 1.2em;
}

.item-price {

  font-size: 1.2em;
  width: 6em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-price-index0{
  font-size: 0.8em;
  width: 9em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:768px) {
  .item-price{
    width: unset;
  }
  .item-price-index0{
    font-size: 0.8em;
    width: unset;
  }
}