.menu-page {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.menu-header {
    background-color: #252525;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 0;
}

.menu-header h1 {
  margin: 0;
  font-size: 2em;
}

.menu-container {
  display: flex;
}

.menu-nav {
  flex: 1;
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  margin-top: 60px;
}

.menu-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-nav li {
  margin-bottom: 10px;
  text-align: left;
  background: #2a2a2a;
  border-radius: 5px;
  padding: 10px;
}

.menu-nav li:hover {
  background: #252525;
}
.menu-nav button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.menu-nav button:hover {
  border-radius: 8px;

  text-align: left;
}

.menu-content {
  flex: 3;
  padding: 60px 20px;
}

@media screen and (max-width:768px) {
  .menu-container {
    display: block;
}
.menu-content{
  margin-top: 20px;
  padding: 80px 0px 0px;
}
.menu-nav{
  margin-top: 20px;
}
}