/* src/components/WelcomeSection.css */
.welcome-section {
    padding: 50px;
    text-align: center;
    /* height: calc(100vh - 50px); */
    height: 90vh;
    background: #000000c2;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  
  .welcome-title {
    font-size: 2em;
    color: #fff;
    margin: 0;
  }
  
  .welcome-text {
    font-size: 1.2em;
    color: #fff;
    margin-top: 10px;
    font-family: math;
  }
  .logoSection img{
    width: 200px;
  }
  
  @media all and (max-width:768px){
    .welcome-section{
        height: 80vh;
    }
  }