.App {
  text-align: center;
}
*{
  scroll-behavior: smooth;
}
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}
.app-welcome-section{
  background-image: url(./images/welcomesection.jpg);
}
